h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  line-height: 20px;
  font-style: oblique;
  font-size: 12px;
  font-family: fantasy;
  font-family: sans-serif;
}
ul {
  line-height: 100px;s
}
strong {
  font-style: italic;
}
em {
  font-style: bold;
}
